.thumb-container {

}
.thumb {
  width: 23%;
  margin-right: 1%;
  margin-bottom: .4em;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  &:hover {
    /* Add the blur effect */
   filter: blur(1px);
   -webkit-filter: blur(1px);
  }
}
